/*loader*/

body {
  background-color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  margin: 0;
  text-align: center;
}

.wrapper {
  left: 0;
  height: 50px;
  margin-top: calc(50vh - 25px);
  margin-left: calc(50vw - 100px);
  position: fixed;
  top: 0;
  width: 180px;
  z-index: 10;
}

.loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: 9;
}


.loader-section.section-left {
  left: 0;
}

.loader-section.section-right {
  right: 0;
}

.circle {
  border-radius: 50%;
  border: 3px silver solid;
  display: inline-block;
  height: 50px;
  margin: -5.5%;
  width: 50px;
}

.circle-1 {
  animation: fade 1.3s ease-in-out infinite alternate;
}

.circle-2 {
  animation: fade 1.3s ease-in-out infinite alternate;
  animation-delay: 0.1s;
}

.circle-3 {
  animation: fade 1.3s ease-in-out infinite alternate;
  animation-delay: 0.2s;
}

.circle-4 {
  animation: fade 1.3s ease-in-out infinite alternate;
  animation-delay: 0.3s;
}

.container {
  /* top and bottom = 0, left and right = auto */
  margin: 0 auto;
  width: 80vw;
}

#content {
  color: red;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
}

.hidden {
  display: none;
}

h1 {
  color: silver;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 40px auto;
  text-transform: uppercase;
}

.loader-wrapper.loaded .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loader-wrapper.loaded .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loader-wrapper.loaded .wrapper .circle,
.loader-wrapper.loaded h1 {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#for_loader {
  color: white;
}

/*end of a loader*/


/*main content*/

.logo_center {
  height: 90vh;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: relative;
  width: 60vw;
  text-decoration: none;

}

.circle1,
.circle2,
.circle3,
.circle4 {
  border-radius: 250px/250px;
  border: solid 15px silver;
  width: 250px;
  height: 250px;
  position: absolute;
  -webkit-transition: border 0.3s ease-out;
  -moz-transition: border 0.3s ease-out;
  -o-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
}

.circle1 {
  left: 9%;
  top: 0;
}

.circle1:hover {
  border: 20px solid DimGray;
  cursor: pointer;
}

.circle1:active {
  border: 20px solid red;
}

.circle2 {
  top: 0;
  left: 27%;
}

.circle2:hover {
  border: 20px solid DimGray;
  cursor: pointer;
}

.circle2:active {
  border: 20px solid red;
}

.circle3 {
  top: 0;
  left: 45%;
}

.circle3:hover {
  border: 20px solid DimGray;
  cursor: pointer;
}

.circle3:active {
  border: 20px solid red;
}

.circle4 {
  top: 0;
  left: 63%;
}

.circle4:hover {
  border: 20px solid DimGray;
  cursor: pointer;
}

.circle4:active {
  border: 20px solid red;
}

.style_for_audi_link {
  margin-top: 7%;
  height: max-content;
  position: relative;
  /* padding-top: 22%;
  padding-left: 85%; */
}

.audi_word {
  color: red;
  font-family: Century Gothic;
  font-size: 5em;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  position: fixed;
  bottom: 1%;
  left:85%;
}

a.audi_word:active {
  color: red;
}

.audi_word:link {
  color: red;
}

.audi_word:hover {
  color: grey;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.audi_word:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 5%;
  z-index: 10;
  background-color: red;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.audi_word:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  background-color: grey;
}

.click_on_rings_label,
h1 {
  color: white;
  font-family: Century Gothic;
  text-align: center;
  margin-top: 7%;
}



.nice_words {
  color: white;
  padding-top: 120%;
  padding-left: 2.5%;
  font-family: Century Gothic;
  font-size: 1.8em;
  transition: 0.3s;
  text-decoration: none !important;
}

.nice_words:hover {
  color: DimGray;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.nice_words:active {
  color: red;
}

#pick_your_ring {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    border-radius: 72px/72px;
    border: solid 5px silver;
    width: 72px;
    height: 72px;
    position: absolute;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
  }

  .logo_center {
    width: 80vw;
  }

  .nice_words {
    font-size: 1em;
  }

  .audi_word {
    font-size: 4em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .logo_center {
    width: 75vw;
  }

  .nice_words {
    font-size: 1.8em;
  }
}

/*landscape orientation*/
@media (min-width: 500px) and (orientation: landscape) and (max-width : 767px) {
  .logo_center {
    width: 47vw;
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    border-radius: 83px/83px;
    border: solid 5px silver;
    width: 83px;
    height: 83px;
    position: absolute;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
  }

  .nice_words {
    font-size: 0.8em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    border-radius: 120px/120px;
    border: solid 5px silver;
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
  }

  .logo_center {
    width: 67vw;
  }
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .logo_center {
    height: 43vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    width: 83vw;
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    border-radius: 250px/250px;
    border: solid 15px silver;
    width: 250px;
    height: 250px;
    position: absolute;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .logo_center {
    height: 43vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    width: 70vw;

  }

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    border-radius: 250px/250px;
    border: solid 15px silver;
    width: 250px;
    height: 250px;
    position: absolute;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
  }

}


/*end of a content*/