/*HEADER*/
html {
  scroll-behavior: smooth;
  width: 100%;
}


.nav {
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.9);
  max-width: 100%;
  height: 60px;
  font-size: 40px;
  font-family: 'Gabriola';
  padding-bottom: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.info {
  margin-right: 15%;
  margin-left: 4%;
  text-decoration: none;
  color: white;
  transition: .3s;
}

.info:hover {
  color: red;
}

.new_audi {
  margin-right: 15%;
  text-decoration: none;
  color: white;
  transition: .3s;
}

.new_audi:hover {
  color: red;
}

.used_audi {
  margin-right: 15%;
  text-decoration: none;
  color: white;
  transition: .3s;
}

.used_audi:hover {
  color: red;
}

.photo {
  margin-right: 15%;
  text-decoration: none;
  color: white;
  transition: .3s;
}

.photo:hover {
  color: red;
}

.audi_logo img {
  width: 180px;
  height: 70px;
  background: white;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.3s;
  opacity: 0.5;
}

.audi_logo img:hover {
  opacity: 1;
}

/*scroll to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: 'Gabriola';
  padding: 15px;
  border-radius: 10px;
  border: 5px solid black;
  transition: 0.3s;
  width: 60px;
  height: 60px;
}

#myBtn:hover {
  background-color: black;
  color: white;
  border: 5px solid white;
  transition: 0.3s;
}

/*SLIDER*/

/* Slideshow container */
.slideshow-container {
  max-width: cover;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 2px 2px 0 solid white;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 2px 0 0 2px solid white;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Gabriola';
  font-size: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*CONTENT*/

.content {
  width: 100%;
  font-family: 'Gabriola';
  font-size: 20px;
  margin: 0;
}

.wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  background: black;
  color: white;
  box-sizing: border-box;
  margin: 25px 20px 25px 0;
  width: 100%;
}

#first_paragraph {
  width: 33.333%;
  border-right: 1px solid white;
  padding: 0 5px;
}

#second_paragraph {
  width: 33.333%;
}

#third_paragraph {
  width: 33.333%;
  border-left: 1px solid white;
  padding: 0 5px;
}

/*CONTAINER WITH PHOTOS*/

.photo_content {
  width: 100%;
  font-family: 'Gabriola';
  font-size: 20px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 90%;
}

.wrap_for_pics {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0 15px 0 15px;
  z-index: 0;
}

.img_1 {
  display: block;
  max-width: 50%;
  width: 580px;
  height: 325px;
  margin-bottom: 15px;
  overflow: hidden;
}

.img_2 {
  display: block;
  max-width: 50%;
  margin: 0 0 15px 25px;
  width: 580px;
  height: 325px;
  overflow: hidden;
}

.img_3 {
  display: block;
  max-width: 50%;
  width: 580px;
  height: 325px;
  margin-bottom: 15px;
  overflow: hidden;
}

.img_4 {
  display: block;
  max-width: 50%;
  margin: 0 0 15px 25px;
  width: 580px;
  height: 325px;
  overflow: hidden;
}

.img_5 {
  display: block;
  max-width: 50%;
  width: 580px;
  height: 325px;
  margin-bottom: 15px;
  overflow: hidden;
}

.img_6 {
  background: black;
  display: block;
  max-width: 50%;
  margin: 0 0 15px 25px;
  width: 580px;
  height: 325px;
  overflow: hidden;
}

h2 {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.img_1:hover .overlay,
.img_1:hover .overlay,
.img_2:hover .overlay,
.img_3:hover .overlay,
.img_4:hover .overlay,
.img_5:hover .overlay,
.img_6:hover .overlay {
  opacity: .7;
}

.text_in_pics {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Paralax*/

section {
  background: url('https://cdnapisec.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_sfjpi8ss/version/100041/def_height/960/def_width/1280');
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 110%;
  margin: 5% 0 1% 0;
  height: 100%;
}

section h1 {
  font-family: 'Gabriola';
  position: relative;
  padding: 0 0 40px 0;
  max-width: 1200px;
  font-size: 16em;
  text-transform: uppercase;
  text-align: center;
  line-height: .6em;
  color: #000;
  background: #fff;
  mix-blend-mode: screen;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section h1 span {
  font-size: .5em
}

/*Text on background*/
h2 {
  font-family: 'Gabriola';
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.cover_1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: url('https://i.wheelsage.org/pictures/a/audi/a8_l_3.0_tfsi_quattro/audi_a8_l_3.0_tfsi_quattro_7.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

.cover_1 h1 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 10em;
  text-transform: uppercase;
  text-align: center;
  background: url('http://ksassets.timeincuk.net/wp/uploads/sites/54/2017/07/new-audi-a8-2046.jpg');
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cover_1 h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: -5px 5px 20px #000,
    -10px 10px 30px #000,
    -20px 15px 40px #000,
    -25px 20px 50px #000;
}

/*Footer*/



/* On smaller screens, decrease text size */

@media (max-width: 900px) {
  /*   
  body html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 !important;
  } */

}

@media (max-width: 700px) {

  header,
  .info,
  .new_audi,
  .used_audi,
  .photo .audi_logo {
    width: 50%;
    height: 15%;
    padding: 0;
    margin: 0;
  }

}

@media (max-width: 480px) {

  header,
  .info,
  .new_audi,
  .used_audi,
  .photo .audi_logo {
    width: 25%;
  }

}

@media (max-width: 300px) {

  .prev,
  .next,
  .text p {
    font-size: 11px;
    width: 100%;
  }
}